* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 4px;
}

.logo {
    width: 145px;
    height: 125px;
    margin: 15px 15px;
}

header {
    display: flex;
    align-items: center;
    background-color: beige;
    border: 2px solid rgb(212, 149, 160);
    border-radius: 10px;
}

.barra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 70px;
    list-style: none;


}


.cuenta {
    margin: 10px;

}

.cuentaDos {
    text-decoration: none;
    color: lightblue;
    font-size: 20px;
}

.buscador {
    display: flex;
    align-items: center;
    margin-left: 80px;
    padding: 5px 15px;
    border: 1px solid lightblue;
    padding: 5px 15px;
    width: 40%;
}

.buscador input {
    border-radius: 5px;
    color: black;
    padding: 8px;
    border: 1px solid lightblue;
    width: 425px;

}

.buscador button {
    border: none;
    color: lightblue;
    font-size: 14px;
    background-color: beige;
}

.bodyIndex {
    display: flex;
    flex-direction: row;
}

.mainIndex {
    max-width: 75%;
    flex-direction: column;
}

.categorias {
    font-weight: bold;
    margin: 15px 15px;
    margin-top: 15px;


}

.barraCostado {
    background-color: beige;
    width: 18%;
    border-radius: 10px;
    padding-bottom: 5px;
    border: 2px solid rgb(212, 149, 160);
    margin-top: 10px;
    height: 100%;

}

.listaLarga {
    list-style: none;
    font-weight: bold;

}

.textoCategoria {
    text-decoration: none;
    margin-bottom: 10px;
    color: lightblue;
    font-size: 18px;
}

.listaCategoria {
    text-decoration: none;
    margin-bottom: 10px;
    padding: 5px;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

.aleatorios {
    margin-left: 50px;
    color: #6A0DAD;
    font-weight: bold;
    display: block;
    width: 100%;
}


.productosRandom {
    flex-wrap: wrap;
    margin: 20px;
    margin-right: 0px;
    display: flex;
    justify-content: flex-start;
    width: 170px;
    flex-direction: column;
    max-height: 1100px;




}

.producto {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: beige;
    height: 490px;
    margin-right: 15px;
    justify-content: space-between;
    color: #333333;
    border-radius: 6px;
    margin: 10px;
}


.fotos {
    width: 100px;
    height: 90px;
}

.detalle {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

p {
    color: #333333;
}

h4 {
    color: #333333
}




.logoLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.mainLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78%;
    flex-direction: column;
}

.formLogin {
    background-color: beige;
    margin-top: 35px;
    width: 30%;
    align-items: center;
    padding: 50px;
    border-radius: 25px;
    flex-wrap: wrap;
}

.inicioH2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.emailContra {
    display: block;

    width: 100%;
}

.labelForm {
    font-weight: bold;
}

.emailinput {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(212, 149, 160);
    width: 100%;
}

.buttonLogin {
    background-color: lightblue;
    color: rgb(212, 149, 160);
    padding: 6px;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    display: flex;

    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

.noCuenta {
    text-decoration: none;
    color: rgb(212, 149, 160);
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.checkbox_registro {
    margin: 10px 10px;
}

.checkboxRegister {

    width: 15px;
    height: 15px;
}

footer {
    margin-top: 70px;
    display: flex;
    justify-content: start;
    width: 100%;
    background-color: beige;
    border-radius: 10px;
    border: 2px solid rgb(212, 149, 160);
}

.footerIndex {
    
    display: flex;
    justify-content: start;
    width: 100%;
    background-color: beige;
    border-radius: 10px;
    border: 2px solid rgb(212, 149, 160);
}

.nombres {

    color: lightblue;
    font-size: 20px;
    margin-left: 10px;

}

.product {
    display: flex;
    justify-content: center;
    background-color: beige;
    border: 2px solid rgb(212, 149, 160);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 81%;
}

.pproduct {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;



}

.imgproduct {
    display: flex;
    align-self: center;
    height: 400px;
}

.nombre {
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.marca {
    margin-top: 0px;
    text-align: center;

}

.info {
    flex-wrap: wrap;
    display: flex;


    flex-direction: column;
    width: 100%;

}

.descripcion {
    max-width: 800px;
    font-size: 20px;
    margin-left: 10px;
    text-align: justify;
}

.precio {
    margin-top: 0px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.categoriaJS{
    margin-top: 0px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    color: black;
}

.stock{
    margin-top: 0px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.tags{
    margin-top: 0px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.review {
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
    padding: 15px;

}

.revieww {
    background-color: white;
    margin-left: 50px;
    height: 90%;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 10px;
}

.categoria {
    color: black;
}

.category {
    margin-left: 50px;
    color: #6A0DAD;
    font-weight: bold;
    display: block;
    width: 100%;
}

.cuerpoc {
    flex-wrap: wrap;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    flex-direction: row;
}

.maincategory {
    width: 975px;
    flex-direction: column;
}



.productoc {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: beige;
    justify-content: space-between;
    border-radius: 6px;
    margin-left: 30px;
    width: 240px;
    margin-bottom: 20px;
}

.search {
    margin-left: 40px;
    color: #6A0DAD;
}

.barraCostadoLogin {
    background-color: beige;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 5px;
    border: 2px solid rgb(212, 149, 160);
    margin-top: 10px;
    height: 100%;
}

.bcategoryLogin {
    display: flex;
    flex-direction: row;
    width: 18%;
}

.vistaLogin {
    display: flex;
    height: 100%;
}

.productosDestacados {
    flex-wrap: wrap;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    width: 170px;
    flex-direction: column;
    max-height: 1100px;
}


@media (max-width: 420px) {
    body {
       
        width: 420px;
    }

    .bodyIndex {
        display: flex;
        flex-direction: column;
    }

    header {
        width: 420px;
        height: 150px;
        display: flex;
        flex-direction: column;
        height: 230px;
    }

    .headerizq {
        width: 100px;
        height: 40px;
        margin-right: 310px;
    }

    .buscador {
        margin-right: 140px;
        width: 300px;
        margin-top: 30px;

    }



    footer{
        width: 420px;
    }

    /* RESPONSIVE INDEX & SEARCH-RESULTS */

    .bodyIndex {
        width: 420px;
    }

    .barraCostado {
        width: 420px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        flex-direction: column;
        align-content: center;
    }

    #barrita {
        width: 205px;
    }

    .tituloProducto{
        width: 380px;
    }

    .mainIndex {
        max-width: 420px;
       
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }

    .productosRandom {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 380px;
        justify-content: flex-start;  

    }

    .pDestacados {
        margin-top: 1000px;
    }

    .producto {
        width: 150px;
        height: 400px;
    }



    .productosDestacados {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 380px;
        justify-content: flex-start;
    }

    .footerIndex {
        display: flex;
        align-self: flex-end;
        width: 420px;
        max-width: 420px;
    }

    /* RESPONSIVE LOGIN & REGISTER */

    .bodyLogin {
        display: flex;
        flex-direction: column;
    }

    .bcategoryLogin {
        width: 420px;
        height: 1108px;
    }
    
    .vistaLogin {
        width: 420px;
      
        display: flex;
        flex-direction: column;
    }

    .mainLogin {
        width: 420px;
        display: flex;
        
    }

    .logoLogin {
        width: 400px;
    }

    .formLogin {
        width: 410px;
    }


    .barraCostadoLogin {
        width: 420px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        flex-direction: column;
        align-content: center;
    }

    /* RESPONSIVE CATEGORIAS */

    .bcategory {
        width: 100%;
        max-width: 420px;
    }

    .cuerpoc {
        display: flex;
        width: 390px;
        margin: 0px;

    }

    

    .productoc {
        margin-bottom: 10px;
        margin-left: 7px;
        margin-right: 0px;
    }

    .contenedor{
        display: block;
        width: 100%;
    }

    .maincategory{
        width: 100%;
        margin-left: 0px;
    }

    /* Responsive Product */

    .product {
        display: flex;
        flex-direction: column;
        width: 420px;
        margin-left: 0px;
    }

    .imgproduct {
        width: 300px;
        height: 225px;
        margin-top: 10px;
    }

    .descripcion {
        font-size: 18px;
    }

    .revieww {
        margin-bottom: 10px;
        margin-left: 25px;
    }

    

    
    







}